@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root{
  --main-color:#275c45;
  --secondary-color:#01A844;
  --wh-color:#fff;

}


body{
  background-color: var(--wh-color);
  font-family: "Quicksand", sans-serif;

}